.task-board-task {
  height: 160px;
  min-width: 180px;
  background: linear-gradient(141.39deg, #491769 14.14%, #28025C 93.13%);
  padding: 15px 20px;

  &--importance {
    &-must {
      background: linear-gradient(137.39deg, #D84353 0.34%, #8A216A 100%);
      &-dragging {
        background: linear-gradient(137.39deg, #BE2C3C 0.34%, #7E145E 100%);;
      }
    }
    &-should {
      background: linear-gradient(137.39deg, #FFCF18 0.34%, #FF272A 100%);
      &-dragging {
        background: linear-gradient(137.39deg, #FFA800 0.34%, #EB000E 100%);;
      }
    }
    &-could {
      background: linear-gradient(137.39deg, #00EB5C 31.23%, #00B2EA 100%);
      &-dragging {
        background: linear-gradient(137.39deg, #09D158 31.23%, #009BCC 100%);;
      }
    }
  }

  &__id,
  &__title {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
}