.task-board-info {
  margin-top: 5px;
  height: 80px;
  display: flex;

  &__name {
    margin: 0;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.6px;

    &--dark {
      color: #000000;
    }

    &--light {
      color: #FFFFFF;
    }
  }
}