* {
  font-family: Roboto;
  letter-spacing: 0.05rem;
  box-sizing: border-box;
}

.with-theme {
  margin: 10px;

  &__theme {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 3px;
    width: 60px;
    height: 60px;
    font-size: 13px;
    border-style: solid;
    font-weight: bold;
    cursor: pointer;
  }
}